@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

#menue-button {
  padding-top: 7px;
  padding-bottom: 7px;
}

#logo {
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
}

