@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

#mobile-header {
  display: flex;
  justify-content: space-between;
  margin: 26px 25px 0 25px;
}

#menue-button {
  padding-top: 7px;
  padding-bottom: 7px;
  border: 0;
}

.close-button {
  border: 0;
  background: none;
  color: #fff;
  margin-left: 340px;
}

#logo {
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
}

#top {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.window {
  background-color: #6070ff;
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  mix-blend-mode: multiply;
}

.all {
  padding: 0;
}

.popup {
  font-weight: 600;
  font-size: 32px;
  color: #fff;
  padding: 0;
  margin-top: 55px;
}

main {
  background-color: #e5e5e5;
}

#intro {
  background: url("./images/header-shapes-mobile.svg") no-repeat;
  height: 600px;
  background-color: white;
  border-bottom-left-radius: 75px;
}

#intro-content {
  align-items: center;
  max-width: fit-content;
  padding: 0;
  padding-top: 80px;
}

h1 {
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
  margin-right: 25px;
  margin-left: 25px;
  font-weight: 700;
  font-size: 40px;
}

p {
  margin: -26px 25px 0 25px;
  font-size: 16px;
  font-weight: 400;
  max-width: 496px;
}

.project p {
  margin: 0;
  min-width: 200px;
}

#intro p {
  padding: 0;
  margin-top: 20px;
}

h3 {
  font-size: 16px;
  margin-left: 25px;
  color: #7f8cff;
  font-weight: 400;
  text-transform: uppercase;
}

li {
  list-style: none;
}

.social {
  display: flex;
  gap: 20px;
  margin-left: -14px;
  margin-top: -30px;
  margin-bottom: 0;
}

.project {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #fff;
  margin: 0 5% 0 5%;
  border-radius: 8px;
  max-height: 496px;
}

.project-properties {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0;
  padding-right: 5px;
  padding-left: 10px;
  padding-top: 10px;
}

.snapshot,
.snapshot2 {
  min-width: 295px;
  min-height: 220px;
}

div {
  padding: 114px 0 12px 25px;
  margin-bottom: 25px;
  font-size: 40px;
}

div h2 {
  margin: 0;
}

.project h2 {
  font-size: 32px;
}

.tech {
  display: flex;
  gap: 12px;
  margin: 0 50px 10px -40px;
  color: #6b778c;
  font-weight: 600;
  font-size: 13px;
}

.company-name {
  color: #344563;
  text-transform: uppercase;
}

.prog-languages {
  display: flex;
  gap: 8px;
  margin: 6px 100px 6px -40px;
  color: #6070ff;
  font-size: 12px;
}

.lang {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
}

#about-me {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 114px;
  background-color: white;
  border-top-left-radius: 75px;
}

#list {
  margin-top: 60px;
  padding-bottom: 150px;
}

.languages {
  display: flex;
  column-gap: 16px;
  align-items: center;
  background: #f7f7f9;
  padding: 12px 21px 12px 21px;
  margin: 10px 36px 10px -55px;
  width: 303px;
}

#right-side {
  max-height: 924px;
  max-width: 447px;
}

#right-side .social {
  margin-top: -20px;
  margin-bottom: -10px;
}

button {
  border-color: #7f8cff;
  color: #7f8cff;
  font-size: 17px;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  width: fit-content;
  transition: all 0.5s ease-out;
}

button:hover {
  background-color: #6070ff;
  color: white;
}

.project button {
  cursor: pointer;
}

#right-side button {
  margin-left: 25px;
}

.expertise {
  display: flex;
  justify-content: space-between;
  margin: 48px 25% 0 -14px;
  width: auto;
}

.arrow {
  width: 11px;
  height: 11px;
  margin-top: 12px;
}

hr {
  margin: 40px 15% 0 -4%;
}

h5 {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
}

h6 {
  font-weight: 500;
  font-size: 15px;
  margin: 0;
  height: fit-content;
}

#languages-list {
  margin-top: 36px;
}

#form-section {
  background: url('./images/contact-form-shapes-mobile.svg') no-repeat;
  background-position: 100%;
  border-top-left-radius: 75px;
  background-color: #6070ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 779px;
  color: #fff;
}

#form-section h2 {
  margin-top: 103px;
  font-weight: 700;
  font-size: 40px;
}

#form-section p {
  text-align: center;
}

#form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-width: 300px;
  margin-top: 20px;
  height: 400px;
}

#form input,
textarea {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 10px;
  height: 25px;
  padding: 10px 5px 10px 5px;
  text-indent: 20px;
}

#form textarea {
  padding-bottom: 170px;
}

#form button {
  margin-right: 211px;
}

.popup-button {
  display: flex;
  width: fit-content;
  margin-left: 4px;
  margin-right: 4px;
}

.desktop-window {
  margin: 0;
  background-color: white;
  border-radius: 1rem;
  width: 90%;
  padding: 0;
}

.desktop-top-popup {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 30px;
}

.desktop-top-popup .close-button {
  margin: 0;
  padding: 0;
  color: black;
}

.p-popup {
  max-width: 100%;
  margin: 0;
}

.project-popup {
  position: fixed;
  z-index: 1;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c1c7d000;
  backdrop-filter: blur(0.8rem);
}

.desktop-popup-snapshot {
  width: 90%;
  height: auto;
  align-self: center;
}

.all-popup {
  display: flex;
  flex-direction: column;
  margin: 1%;
  padding: 5%;
}

.button-logo {
  size: 20px;
  margin-left: 10px;
}

.small-container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.buttons {
  display: flex;
}

.line {
  margin: 20px 0 20px 0;
}

.bottom-container {
  margin-top: 5%;
  padding: 0;
}

@media (min-width: 768px) {
  #intro {
    background: url("./images/Header-bg.svg ") no-repeat;
    background-color: white;
    background-position: 100%;
  }

  #menue-button {
    display: none;
  }

  #top {
    display: flex;
    justify-content: space-between;
    width: 30%;
    height: 20px;
    font-weight: 500;
    font-size: 15px;
    margin: auto;
    padding: 0;
    color: #344563;
  }

  #intro-content {
    margin: auto;
    width: 50%;
  }

  .project {
    flex-grow: 1;
    flex-direction: row;
    gap: 46px;
    justify-content: space-between;
    height: auto;
  }

  #project-properties {
    min-width: 10%;
    padding-bottom: 0;
  }

  .snapshot,
  .snapshot2 {
    flex-grow: 3;
    max-width: 544px;
    max-height: 448px;
  }

  .snapshot2 {
    order: 1;
  }

  #about-me {
    height: 900px;
  }

  #right-side {
    flex-shrink: 2;
  }

  #right-side p {
    width: 300px;
  }

  #list {
    margin-top: 200px;
    margin-left: -40px;
  }

  .languages {
    flex-direction: column;
    width: 60px;
    margin: auto auto auto -60px;
  }

  #languages-list {
    display: flex;
    gap: 12px;
    max-width: 350px;
  }

  #form-section {
    background: url('./images/web-contact-form-background-shapes@2x.svg') no-repeat;
    background-position: 100%;
    border-top-left-radius: 75px;
    background-color: #6070ff;
  }

  #form button {
    margin-right: 0;
    align-self: center;
  }

  .bottom-container {
    display: flex;
    gap: 5%;
  }
}
